html, body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  background: none;
}

.react-resizable-handle {
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #555;
  cursor: col-resize;
  display: none;
}
aside:hover .react-resizable-handle {
  display: block;
}